<div class="flex items-center justify-center space-x-4">
  <%= render "zuke/components/player/previous_button" %>
  <%= render "zuke/components/player/play_pause_button" %>
  <%= render "zuke/components/player/next_button" %>
</div>
