<!-- Current Index Content -->
<%= turbo_frame_tag "music-frame" do %>
  <!-- Search Bar -->
  <%= render "zuke/components/search_bar" %>

  <div class="w-full flex flex-col m-auto text-gray-100">
    <h2 class="kanit font-medium mx-4 py-2">All Songs</h2>
    <hr class="mb-3 mx-4">
    <div data-controller="music--song-list"
          data-music--song-list-songs-value="<%= @songs_data %>"
          class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3 sm:gap-4 p-3 sm:p-4">
      <% @songs_for_display.each do |song| %>
        <div class="flex justify-center">
          <%= render partial: "zuke/components/smart-image", locals: { controller_name: "smart-image", song: song } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
