<!--The stimulus data is left in the drop down menu. Add the data controller actions-->
<!-- //? Sticky Top Navbar -->
<div class="absolute top-6 right-6 z-50 border border-red-500" data-controller="navbar">
  <nav class="mx-auto h-12">

      <!-- //? Right section Page Links -->
      <div class="">
        <ul class="font-kanit text-zinc-100">
          <li class="hidden md:flex">
            <%= link_to new_milk_admin_session_path do %>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd"/>
              </svg>
            <% end %>
          </li>
        </ul>
        <button class="pb-1 w-6" role="button" aria-label="menu" data-action="click->navbar#toggleMenu">&#9776</button>
      </div>
  </nav>
  <!-- //? Dropdown menu -->
  <nav class="hidden bg-zinc-800 text-gray-100 absolute w-2/3 md:w-1/3 right-0 overflow-y-auto rounded-b-md" data-navbar-target="mobileMenu">
    <ul class="flex flex-col py-2 px-3">
      <%= link_to root_path do %>
        <li class="flex border p-2 my-1 rounded-md">MILK-00</li>
      <% end %>
      <%= link_to music_list_zuke_index_path(view: "card") do %>
        <li class="flex border p-2 my-1 rounded-md">Card View</li>
      <% end %>
      <%= link_to music_list_zuke_index_path(view: "list") do %>
        <li class="flex border p-2 my-1 rounded-md">List View</li>
      <% end %>
    </ul>
    
  </nav>
</div>