<div id="features" class="flex flex-col justify-center items-center bg-swabbie-st-lt-primary h-[1120px] sm:h-[800px] <%= responsive_width_class %> pb-4 sm:pb-16">
  <div class="flex flex-col items-center justify-between <%= responsive_width_class %>">
    <div class="flex items-center justify-center w-full h-[508px] bg-[url('saltandtar/blue-st-banner.svg')]">
      <%= render "salt_and_tar/feature_cards" %>
    </div>
  </div>
</div>