<div id="footer" class="<%= responsive_width_class %>">
  <footer class="w-full mb-4">
    <div class="rounded-b-lg bg-white p-8">
      <div class="flex flex-col sm:flex-row items-start justify-between w-full">
        <div class="flex flex-col sm:w-1/2">
          <h2 class="font-medium text-xl">Salt &amp; Tar</h2>
          <small>YouTube content creators.</small>
          <small>Journey of a wooden boat!</small>
          <small>Fan site created with love by <%= link_to "Rogue Media Lab", root_path, class: "hover:underline" %></small>
        </div>
        <div class="flex flex-col sm:w-1/2 mt-2 sm:mt-0">
          <h3>Contact Me</h3>
          <div class="flex items-center">
            <h3 class="pr-3">About</h3>
            <h3 class="pr-3">The Code</h3>
            <h3>The Design</h3>
          </div>
          <h3>Socials</h3>
          <div class="flex items-center mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mr-3" fill="#40677D" width="24" height="24">
              <rect width="24" height="24" rx="4" fill="#40677D"/>
              <polygon points="10,8 16,12 10,16" fill="#fff"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mr-3" fill="#40677D" width="24" height="24">
              <rect width="24" height="24" rx="6" fill="#40677D"/>
              <circle cx="12" cy="12" r="5" fill="#fff"/>
              <circle cx="17" cy="7" r="1.5" fill="#fff"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mr-3" fill="#40677D" width="24" height="24">
              <rect x="4" y="4" width="4" height="16" fill="#40677D"/>
              <circle cx="16" cy="12" r="6" fill="#40677D"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>