<div id="video" class="flex flex-col items-center justify-between bg-swabbie-st-drk-primary <%= responsive_width_class %>">
  <div class="flex flex-col items-center justify-between <%= responsive_width_class %>">
  </div>
</div>
