<section id="about-me" class="bg-base-light text-base-dark dark:bg-base-dark dark:text-gray-50 w-full lg:max-w-[700px]">
  <div class="w-full">
    <h2 class="text-3xl font-bold dark:text-milk-light text-base-dark">
      Artificial Intelligence
    </h2>
    <hr class="my-4 w-full dark:border-white border-base-dark">
    <h3 class="text-lg">
      <strong>More than expected</strong>
    </h3>
    <div class="grow max-h-[430px] overflow-y-auto">
      <p class="my-4 md:text-md ">
        For the past year I have been using, testing, configuring, and playing with various AI agents and platforms. I have found that AI and Rails are wonderful together. For the past seven months or so I have been working with both Gemini and Claude Code. I use both CLI tools to work on various projects. I still write a little code using VSCode. I had the Gemini pro plan as well. It was after I found that the CLI did not use the pro plan, only the browser, that I decided to move to cursor.
      </p>
      <p class="my-4 md:text-md">
        I needed a place for the data I collected from working with Gemini. I will cancel the pro version, but will use a few of the API's moving forward. So until I find a better format for this, here is my conversations with Gemini since June 2025.
      </p>
      <div class="flex w-full">
        <%= link_to "Gemini Pro", gemini_path, data: { turbo_frame: "_top" } %>
      </div>
    </div>
  </div>
</section>